fieldset {
  border: none;

  & legend {
    font: var(--text-title);
    color: var(--content-primary);

    margin-bottom: 2.75rem;
  }

  & .add {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & input {
      width: 100%;
      height: 2.75rem;

      padding: 0 1.125rem;

      border-radius: 0.75rem;
    }

    & input[type="text"] {
      font: var(--text-paragraph);
      color: var(--content-tertiary);
      border: 2px solid var(--border-primary);
      background-color: var(--background-secondary);

      &:hover {
        border-color: var(--border-hover);
      }

      &:focus {
        border: 2px solid transparent;
        outline: 2px solid var(--color-brand);
        color: var(--content-primary);
      }
    }

    & input[type="submit"] {
      color: var(--always-white);
      background-color: var(--color-brand);

      font: var(--text-label);

      border: none;

      margin-bottom: 2.5rem;

      &:hover {
        background-color: var(--color-brand-hover);
      }
    }
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    font: var(--text-paragraph);
    color: var(--content-secondary);

    margin-bottom: 2rem;

    & li {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      padding: 0.75rem;

      background-color: var(--background-secondary);
      border-radius: 0.75rem;

      & input[type="checkbox"] {
        all: unset;
        width: 1.125rem;
        height: 1.125rem;

        background: url(../assets/check-default.svg) no-repeat;

        &:hover {
          background: url(../assets/check-hover.svg) no-repeat;
        }

        &:checked {
          background: url(../assets/check-selected.svg) no-repeat;
        }
      }

      & button {
        border: none;

        width: 1rem;
        height: 1rem;
        margin-left: auto;

        background-color: transparent;

      }
    }
  }
}

@media (width >= 39.1875rem) {
  fieldset {
    .add {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }

    & ul li {
      padding: .5rem 0.75rem;
    }
  }
}
